@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/* might be able to pull this - was trying to ditch intro_large and intro_sm */
#home .intro { display:inline-block; vertical-align:middle; }
#home .intro h4 {
	font: 51px/54px 'Lato';
	color:#fff;
	text-shadow:rgba(0,0,0,0.4) 1px 1px 30px;
}
#home .intro h1 {
	font: 51px/54px 'Lato';
	color:#fff;
	text-shadow:rgba(0,0,0,0.4) 1px 1px 30px;
}

.is-forum {
max-height: 90%;
overflow: scroll;
}

.intro_text_home01{-webkit-animation:intro_text_home 0.7s ease-in-out 1.4s backwards;-moz-animation:intro_text_home 0.7s ease-in-out 1.4s backwards;-ms-animation:intro_text_home 0.7s ease-in-out 1.4s backwards;-o-animation:intro_text_home 0.7s ease-in-out 1.4s backwards;animation:intro_text_home 0.7s ease-in-out 1.4s backwards}
.intro_tri_home{-webkit-animation:intro_text_home 0.7s ease-in-out 1.5s backwards;-moz-animation:intro_text_home 0.7s ease-in-out 1.5s backwards;-ms-animation:intro_text_home 0.7s ease-in-out 1.5s backwards;-o-animation:intro_text_home 0.7s ease-in-out 1.5s backwards;animation:intro_text_home 0.7s ease-in-out 1.5s backwards}
.intro_text_home02{-webkit-animation:intro_text_home 0.7s ease-in-out 1.6s backwards;-moz-animation:intro_text_home 0.7s ease-in-out 1.6s backwards;-ms-animation:intro_text_home 0.7s ease-in-out 1.6s backwards;-o-animation:intro_text_home 0.7s ease-in-out 1.6s backwards;animation:intro_text_home 0.7s ease-in-out 1.6s backwards}
.intro_text_home03{-webkit-animation:intro_text_home 0.7s ease-in-out 1.8s backwards;-moz-animation:intro_text_home 0.7s ease-in-out 1.8s backwards;-ms-animation:intro_text_home 0.7s ease-in-out 1.8s backwards;-o-animation:intro_text_home 0.7s ease-in-out 1.8s backwards;animation:intro_text_home 0.7s ease-in-out 1.8s backwards}
.intro_text_home04{-webkit-animation:intro_text_home 0.7s ease-in-out 2s backwards;-moz-animation:intro_text_home 0.7s ease-in-out 2s backwards;-ms-animation:intro_text_home 0.7s ease-in-out 2s backwards;-o-animation:intro_text_home 0.7s ease-in-out 2s backwards;animation:intro_text_home 0.7s ease-in-out 2s backwards}#menu{background:#fff;width:100%;position:fixed;top:0;left:0;height:60px;border-bottom:1px solid #e1e1e1;z-index:90}#logo{widht:172px;height:60px;float:left;margin:0 0 0 10px}

#nav{float:right;min-height:60px;opacity:1}
#nav li{float:left;list-style:none;color:#000;height:59px}
#nav li a{float:left;list-style:none;background:#fff;text-decoration:none;text-transform:uppercase;font-size:11px;line-height:59px;color:#4a4f52;padding:0 20px;font:11px/59px 'Lato';text-transform:uppercase;border-bottom:0px solid #d7b55e;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;border-bottom:0px solid #d7b55e}
#nav a:hover{background:#f1f1f1;border-bottom:0px solid #d7b55e;color:#4a4f52}
#nav .current,#nav .current:hover{background:#f1f1f1;border-bottom:5px solid #cc6600;color:#cc6600; /*d7b55e*/}
#nav2{display:none;opacity:0}
#nav2 .current a{background:#f1f1f1;color:#d7b55e;border-bottom:0px solid #ccc}
#nav2 .current a:hover{cursor:default;background:#f1f1f1;border-bottom:0px solid #ccc;color:#4a4f52}
#nav2 ul{background:#fff;width:100%;position:absolute;z-index:20;display:none;top:60px;right:0px;color:#fff;border-bottom:1px solid #e1e1e1}
#nav2 li{clear:both;width:100%;text-align:center;list-style:none}
#nav2 li a{width:100%;display:block;font:11px/50px 'Lato';background:#fff;text-transform:uppercase;margin:0 auto;color:#4a4f52}
#nav2 a:hover{background:#f1f1f1;color:#4a4f52}
#nav2 .current,#nav2 .current:hover{background:#f1f1f1;color:#d7b55e}

#hamburger{width:38px;height:38px;position:absolute;top:10px;right:10px;background:url(../images/nav/nav.gif) no-repeat top center #fff;padding:10px;cursor:pointer;display:none;border:1px solid #fff;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
#hamburger:hover{background:url(../images/nav/nav.gif) no-repeat top center #f1f1f1;border:1px solid #e1e1e1;-webkit-box-shadow:#fff 0 0 0px 1px inset;-moz-box-shadow:#fff 0 0 0px 1px inset;box-shadow:#fff 0 0 0px 1px inset}
.hamburger_active{background-color:#d7b55e !important;border:1px solid #d7b55e !important;-webkit-box-shadow:rgba(255,255,255,0.3) 0 0 0px 1px inset !important;-moz-box-shadow:rgba(255,255,255,0.3) 0 0 0px 1px inset !important;box-shadow:rgba(255,255,255,0.3) 0 0 0px 1px inset !important;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
.hamburger_active:hover{-webkit-box-shadow:rgba(255,255,255,0.7) 0 0 0px 1px inset !important;-moz-box-shadow:rgba(255,255,255,0.7) 0 0 0px 1px inset !important;box-shadow:rgba(255,255,255,0.7) 0 0 0px 1px inset !important}@media only screen and (max-width: 800px){#nav{display:none;opacity:0}
#nav2{display:block;opacity:1;width:100%}
#hamburger{display:block}}

#slides{position:relative}
#slides .slides-container{display:none}
#slides .scrollable{*zoom:1;position:relative;top:0;left:0;overflow-y:auto;-webkit-overflow-scrolling:touch;min-height:100% !important}
#slides .scrollable:after{content:"";display:table;clear:both}
.slides-navigation{margin:0 auto;position:absolute;z-index:3;top:46%;width:100%}
.slides-navigation a{position:absolute;display:block}
.slides-navigation a.prev{left:0}
.slides-navigation a.next{right:0}
.slides-pagination{position:absolute;z-index:3;bottom:0px;text-align:center;width:100%}
.slides-pagination a{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;background:#fff;width:12px;height:12px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;margin:3px;overflow:hidden;text-indent:-100%;opacity:0.5;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
.slides-pagination a.current,.slides-pagination a:hover{opacity:1}

#quotes{margin:0;font-size:23px;line-height:35px;position:relative}
.textItem{position:absolute;display:none;width:100%}

#home .intro_large{float:left;left:60%;margin-top:0px;margin-left:-165px;z-index:9;width:440px;height:548px;position:absolute}
#home .intro_large h1{position:absolute;width:400px;height:314px;margin-top:140px;margin-bottom:80px;font:51px/54px 'Lato';color:#fff;text-shadow:rgba(0,0,0,0.4) 1px 1px 30px;}
#home .intro_large h1 span{color:rgba(208, 215, 94, 1)}
#home .intro_large svg{position:absolute;width:300px;height:300px;top:90px;margin-left:-150px}
#home .intro_large .text_intro{font:14px/20px 'Open Sans', sans-serif;color:#fff;margin-top:360px;text-shadow:rgb(0,0,0) 1px 1px 20px}

@media (min-height: 780px){
	#home .intro_large{width:396px;height:614px;margin-top:-307px;margin-left:-198px;left:60%;top:50%;position:absolute;z-index:9;float:left}
	#home .intro_large h1{font:61px/82px 'Lato';width:100%;color:#fff;margin-top:35px;text-shadow:rgba(0,0,0,0.4) 1px 1px 30px}
	#home .intro_large h1 span{color:#d7b55e}
	#home .intro_large .text_intro{color:#fff;margin-top:400px;text-shadow:rgb(0,0,0) 1px 1px 20px}
	#home .intro_large .text_intro #quotes{font-size:27px;line-height:42px}
	#home .intro_large svg{position:absolute;width:396px;height:342px;top:0;left:0;margin-left:0px}
	#home .intro_large svg path{fill:#fff}
}
#home .intro_sm{position:absolute;z-index:9;width:100%;float:left;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
#home .intro_sm h1{font:51px/60px 'Lato';color:#fff;margin-top:90px;text-shadow:rgba(0,0,0,0.4) 1px 1px 30px}
#home .intro_sm h1 span{color:#fff}
#home .intro_sm h4{font:14px/20px 'Open Sans', sans-serif;color:#fff;text-shadow:rgba(0,0,0,0.4) 1px 1px 30px}
@media (max-height: 340px){
	#home .intro_sm h1{font:30px/35px 'Lato';margin-top:70px}
	#home .intro_sm h4{font:12px/15px 'Open Sans', sans-serif;margin-top:15px}
}
@media (max-width: 340px){
	#home .intro_sm h1{font:30px/35px 'Lato'}
	#home .intro_sm h4{font:12px/15px 'Open Sans', sans-serif}
}
.section{position:relative;background:#fff;width:100% !important;display:block;min-height:100% !important}
@media (min-height: 1081px){
	.section{min-height:1081px !important}
}

#h-reviews,#h-press,#h-vdm{
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-color:#e1e1e1;
		background-position:top center;
		width:100% !important;
		overflow:hidden;display:block;
		position:relative;
		background-repeat:no-repeat;
		margin-bottom:10px;top:-60px}
#h-reviews{background-image:url(../images/headers/bg_press.jpg);background-position:50% 20%; height:500px;}
#h-press{background-image:url(../images/headers/bg_woman_reading.jpg);background-position:50% 50%; height:400px;}
#h-buy, #h-buy-mobile{
	padding-top: 30px;
	min-height: 90%;
}
#h-vdm{background-image:url(../images/headers/bg_reviews.jpg); 
	background-position:50% 20%; height:500px;}

#h-reviews h1,#h-reviews h2,#h-press h1,#h-press h2,#h-vdm h1,#h-vdm h2,#h-author h1,#h-author h2{color:#fff;font-family:'Lato';font-weight:normal;text-shadow:rgba(0,0,0,0.5) 1px 1px 10px}
#h-buy h1 { margin: .5em 0 .5em 0; color: #333; font-family:'Lato';font-weight:normal;}
#h-buy .button, #h-buy-mobile .button { margin: 2em 0 3em 0; }
#h-buy h2, #h-buy h2 a { color:#999; font-weight: lighter; font-family:'Lato';}
#h-vdm h1,#h-vdm h2{ text-shadow: 3px 3px 5px rgba(0, 0, 0, .9) }
#h-reviews h1,#h-vdm h1{margin:2em 0 -0.1em 0}
#h-press h1{margin:2em 0 -0.1em 3em}
#h-author h1{margin:1em 0 -0.1em 0}
#h-author p { text-align: left; font-size: 12px; margin-left: 6em; color: #fff;}
#press .row { text-align: left; }

@media (min-height: 800px){
	#h-reviews,#h-press,#h-vdm{width:100%;height:360px}
	#h-reviews h1,#h-press h1,#h-vdm h1{margin:2.5em 0 -0.1em 0}
	#h-author h1{margin:2em 0 -0.1em}
}
@media (max-width: 568px){
	#h-reviews,#h-press,#h-vdm{height:260px !important}
	#h-press h1{margin:1.6em 0 -0.1em 0 }
	#h-reviews h1,#h-vdm h1{margin:.7em 0 -0.1em 0}
	#h-author h1{margin:.7em 0 -0.1em}
}
@media (max-width: 450px){
/*	#h-reviews,#h-press,#h-vdm{height:260px !important}*/
	#h-vdm h1{margin:.2em 0 -0.1em 0}
}

#vdm{ margin-top: 50px; }
#author{ 
	margin-top: 50px;
}
#press{ 
	margin-top: 70px;
}
/* Glyph, by Harry Roberts */
hr.author {
    padding: 0;
    border: none;
    border-top: medium double #777;
    color: #777;
    text-align: center;
    margin-bottom: 4em;
}
hr.author:after {
    content: "about the author";
    font-family: Lora, serif;
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    font-style: italic;
}

.exp_block a.exp_tt{position:relative}
.exp_block a.exp_tt .tt{display:block;opacity:0;position:absolute;width:70%;left:15%;height:37px;top:-70px;font:14px/30px 'Open Sans', sans-serif;color:#4a4f52;border-bottom:1px solid #cccccc;background:#fff;-webkit-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-moz-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-o-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)}
.exp_block a.exp_tt .tt img{position:absolute;left:50%;margin-left:-6px;bottom:0px;margin-bottom:-7px}
.exp_block a.exp_tt:hover .tt,.exp_block a.exp_tt:focus .tt{display:block;opacity:1;position:absolute;width:70%;left:15%;height:37px;top:-50px;font:14px/30px 'Open Sans', sans-serif;color:#4a4f52;border-bottom:1px solid #cccccc;background:#fff}
.exp_block .large-4 .face{border:15px solid rgba(245,245,245,0);margin-bottom:20px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-transition:all 500ms ease-in-out;-moz-transition:all 500ms ease-in-out;-o-transition:all 500ms ease-in-out;transition:all 500ms ease-in-out}
.exp_block .large-4 h2{font:30px 'Lato';color:#4a4f52}
.exp_block .large-4 .link_exp{font:30px 'Lato';color:#4a4f52;border-left:1px solid rgba(204,204,204,0);border-right:1px solid rgba(204,204,204,0);-webkit-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-moz-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-o-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);padding:0px 30px;display:inline;text-align:center}
.exp_block .large-4:hover .link_exp{padding:0px 10px;border-left:1px solid #ccc;border-right:1px solid #ccc}
.exp_block .large-4 h3{font:18px 'Lato';margin-top:-15px;color:#999;text-transform:uppercase}
.exp_block .large-4 p{padding-top:10px;font-size:12px;text-align:center;margin:0 8% 20px 8%;-webkit-transition:all 500ms ease-in-out;-moz-transition:all 500ms ease-in-out;-o-transition:all 500ms ease-in-out;transition:all 500ms ease-in-out}
.exp_block .large-4:hover .face{border:15px solid #f5f5f5}
.exp_block .large-4 a{display:block;color:#999}
.exp_block .large-4 ul{text-align:left;list-style:none}
.exp_block .large-4 ul li{font-size:12px;margin-top:20px;padding-left:15px;background:url(../images/nav/bullet.gif) 0px 9px no-repeat}
.exp_block .large-4 ul li:first-child{margin-top:10px}
.exp_block .large-4 ul img{margin-top:10px}
.contact_block{margin-bottom:60px}
.contact_block h3{font:18px 'Lato'}
.contact_block h4{font:14px/20px 'Open Sans', sans-serif}
.contact_block .link{font:14px/20px 'Open Sans', sans-serif;color:#d7b55e;border-left:1px solid rgba(215,181,94,0);border-right:1px solid rgba(215,181,94,0);padding:0px 50px;-webkit-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-moz-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-o-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)}
.contact_block .link:hover{padding:0px 10px;border-left:1px solid #d7b55e;border-right:1px solid #d7b55e}
.contact_block p{font-size:12px;text-align:center;margin:20px 0 30px 0}
#map-canvas{height:200px;width:100%;margin:0px;padding:0px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#map-canvas img{max-width:inherit}@media (min-width: 768px){#map-canvas{height:300px}}@media (min-width: 1024px){#map-canvas{height:400px}}@media (min-width: 1280px){#map-canvas{height:500px}}@media (min-width: 1440px){#map-canvas{height:700px}}
#footer{margin-top:90px}
#footer p{font-size:12px;margin-top:5px}
ul.sm_icon li{width:30px;height:30px;display:inline-block;margin-right:8px}
ul.sm_icon li a{width:30px;height:30px;display:block;border:2px solid #999;-webkit-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-moz-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-o-transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);transition:all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}ul.sm_icon li a:hover{border:2px solid #4a4f52}ul.sm_icon li .tw{background:url(../images/sm/tw.png) no-repeat top center}ul.sm_icon li .tw:hover{background:url(../images/sm/tw.png) no-repeat bottom center}ul.sm_icon li .in{background:url(../images/sm/in.png) no-repeat top center}ul.sm_icon li .in:hover{background:url(../images/sm/in.png) no-repeat bottom center}ul.sm_icon li .sk{background:url(../images/sm/sk.png) no-repeat top center}ul.sm_icon li .sk:hover{background:url(../images/sm/sk.png) no-repeat bottom center}ul.sm_icon li .mail{background:url(../images/sm/mail.png) no-repeat top center}ul.sm_icon li .mail:hover{background:url(../images/sm/mail.png) no-repeat bottom center}ul.sm_icon li:last-child{margin-right:0px}

.db{display:block !important}
.cb{clear:both}
.pad0{padding:0 !important}
.pb90{padding-bottom:90px}
.bl0{border-left:0px !important}

@media only screen and (max-width: 473px) {
	#logo { font-size: 18px!important; }
	#h-buy-mobile h1{
		margin-top: 200px;
	}
	.mobile-only #h-buy h1{
		margin-top: 0;
	}
}
#h-reviews h1, #h-reviews h2, #h-method h1, #h-method h2, #h-vdm h1, #h-vdm h2, #h-author h1, #h-author h2 {
 font-family: Lora, serif; 
 font-weight: 400; }
 #logo {
    height: 60px;
    float: left;
    margin: 0px 0px 0px 10px;
    font-family: Lora, serif;
    padding-top: 15px;
    font-size: 28px;
  }
 #logo a { color: #666; }
 #home { 
/*background: url('../images/bgwithbook-1440x900.jpg') no-repeat center center fixed; 
*/background: url('../images/bgwithbook-1900.jpg') no-repeat bottom left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }
  #sthoverbuttons #sthoverbuttonsMain {
    width: 45px;
}
.mobile-only{
	display: none;
}
#press ul{
		margin-left: 1.25em;
}
@media only screen 
and (max-width : 900px) {
	#nav li a{padding:0 15px;}
}
@media only screen 
and (max-width : 860px) {
	#nav li a{padding:0 10px;}
}
@media only screen 
and (max-width : 800px) {
	#logo{
		float: none;
	}
}
@media only screen 
and (max-width : 768px) {
	#home{display: none;}
/*	#home{background: #b7beb7;}*/
/*	#home-mobile-img{width: 50%;}*/
	.mobile-only{display: block;}
	.mob-author{width: 100%;}
	#mob-author-content{
		 float: none; text-align: center;
		 margin: 0 auto;
	}
	#press .pb90, #vdm .pb90{
		padding-bottom: 0;
	}
	.mob-author{
		padding-bottom: 20px;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	#home .intro_sm h4{
		width: 60%;
		margin: 0 auto;
	}
	#h-reviews h1{
		margin-top: 40px;
	}
	#h-vdm h1, #h-press h1{
		margin-top: 70px;
	}
	#h-vdm h1, #h-press h1, #h-reviews h1{
		font-size: 2.125em;
	}
	#logo{
		float: none;
	}
	ul{
		padding-left: 5px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/*iphone 6*/
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 2)
{ }

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{ }
/*iphone 6+ */
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ }

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) 
{ }
/*iphone6 and iphone 6+ */
@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ }
